.title{
                text-transform: uppercase;
                color: cadetblue;
                font-size: 60px;
                font-family: 'Montserrat', sans-serif;
                text-align: center;
            }
            obzor {
                color:cadetblue;
                font-size: 20px;
                font-family: 'Montserrat', sans-serif;
                text-align: center;
            }